.logo-text {
  text-decoration: none; /* no underline */
  color:#3b3939;
}

a:visited { 
  text-decoration: none; 
  color:#3b3939;
 }

 a:hover { 
  text-decoration: none; 
  color:#3b3939;
 }
 
 a:link { 
  text-decoration: none; 
  color:#3b3939;
 }

 a:active { 
  text-decoration: none; 
  color:#3b3939;
 }


html {
  background-color: #ffffff;
  font-family: Arial;
  position: relative;
  min-height: 100vh;
}


.main-body {
  display: table;
  margin: auto;
  vertical-align: top;
  height:100%;
  min-width:500px;
  width:900px;
  max-width:900px;

}


.dropdown-content {
  display: block;
  position: absolute; /* Update this line */
  min-width: 160px;
  padding: 6px 8px;
  z-index: 101;
  left: 6%;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.airport-details-collapse-button{
  justify-content: space-between;
  min-width: 400px;
  text-align:right;
  top:9.2rem;
  position: sticky;
  z-index:999
}


.button-collapse-all {
  color: #ffffff;
  background-color: #738d5e;
  border: 2px solid #88af7f;
  font-size:14px;
  border-radius: 5px;
  position: absolute;
  white-space: nowrap;
  top:-45px;
  left: 90%;
  z-index:99
}

/* Navigation boxes*/

.sticky-header{
  position: sticky;
  background: #ffffff;
  min-width: 500px;
  height: 150px;
  top: 0;
  padding-bottom: 3px;
  z-index: 20;
}

.header-nav {
  width: 100%;
  height: 15px;
  background-color: #5A8895;
  color: rgb(182, 182, 182);
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
}

.header-nav-center {
  margin-left:15%;
  display: table;
  margin: auto;
  vertical-align: top;
  min-width:500px;
  width:900px;
  max-width:900px;

}

.footer {
  padding-top:0px;
  background-color: #5A8895;
  color: rgb(218, 217, 217);
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;  
}

.footer-center {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-left:15%;
  padding-top:13px;
  margin: auto;
  vertical-align: top;
  min-width:500px;
  width:900px;
  max-width:900px;

}

.footer-center-left {
  display:flex;
}

.footer-center-right {
  display:flex;
}

.header-logo{
  z-index:9;
  margin-top:10px;
}


.header-box-top{
  display:flex;
  justify-content:space-between;
  font-size: 15px;
  flex-direction:row;
}

.header-box-bottom{
  display:flex;
  flex-direction:row;
  justify-content:left;
  font-size: 15px;
  margin-top:12px
  /* border-color: black;
  border-style:dashed;
  border-width: 5px; */
}

/* Upgraded menu navigation - May 2023 */

.header-box-bottom nav {
  margin:0;
}

.header-box-bottom ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.header-box-bottom li {
  margin-right: 20px;
}


.header-right-top {
  display:flex;
  flex-direction:row;
  justify-content: right;
  border:5px;
  /* border-color: black;
  border-style: solid;
  border-width: 5px; */
}



.header-welcome{
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:center;

}

.header-signout{
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:center;

}


/*Above styling of page

/* Style the button that is used to open and close the collapsible content */
.collapsible-expand {
    background-color: #edededea;
    color: #3b3939;
    cursor: pointer;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding:10px;
  }

    
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-hidden {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  

  .button {
    background-color: #dadada;
    color: #ffffff;
    background-image: linear-gradient(0.75turn, #738D5E,#71a2cd);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }


  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #eeeeee91;
  }


  .active, .button:hover {
    background-color: #ccc;
  }
  


/*Tower open and visual conditions*/

.towerOpen{
  text-align:center;
  width:100px;
  background-color: #88AF7F;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}
.towerClosed{
  text-align:center;
  width:100px;
  padding:2px;
  background-color:#d2d1d1;
  color: #3b3939;
  font-weight: bold;
}

.flightRules {
  width:85px;

}

.skyVFR{
  text-align:center;
  width:50px;
  background-color: #71A2CD;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}


.skyMVFR{
  text-align:center;
  width:50px;
  background-image: linear-gradient(#71A2CD,#1f1f1f);
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}

.skyIFR{
  text-align:center;
  width:50px;
  background-color: #1f1f1f;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}



.iconWindSock{
  width:45px;
  object-fit:cover;
  object-position: 0px 10px
}

/*Text headers*/

.headerText{
  width:20%;
  padding:2px;
  color:  #424242;
  font-weight: bold;

}

.windsNotCalm {
  font-size: 15px;
}

/*Details tables*/
#details {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 400px;

}

#details td, #details th {
  border: 1px solid #dadada;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #dadada;}

#details tr:hover {background-color: #ddd;}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dadada;
  color: rgba(90, 90, 90, 0.929);
}



/*airport-runways-box*/

  .airport-runway-box {
    display:flex;
    flex-direction: row;
  } 

  .airport-details-container {
    margin-bottom:45px
  }


  .airport-code-name {
    min-width: 400px;
    padding:.1rem;
  }

  .airport-edit {
    width:4rem;
  }


  /*airport-status-and-logos*/

  .airport-status-logos {
    display:flex;
    flex-direction: row;
    border: none;
    justify-content: space-between;
  } 

   .airport-status {
    border: none;
   }

   .airport-logos {
    border: none;
   }

   /*Details and edit page*/

   .details-margin-top{
   margin-top:25px
   }


   /*form validation*/

   .input-error
  {
  border:1px solid red;
  }


  .input-valid
  {
  border:1px solid green;
  }


  #success-message {
    border-left: 5px solid green;
    color: green;
    padding: 10px;
    width:400px;
  }


  /*form spacing and line height*/

  form label {
    line-height: 1.6;
  }
  
  form input, form textarea {
    line-height: 1.4;
  }

  /*Announcement*/
  .yellow-ribbon {
    background-color: grey;
    color: white;
    margin-top: 0px;
    padding: 1px;
    text-align: center;
  }

  /*Phraseology preview box*/

  .phraseologyPreview {
    padding-top: 5px;
    padding-left: 15px; 
    padding-bottom: 25px;
    background-color: #edededea;

  }

  