
/*BELOW: Key styling of page*/

.logo-text {
  text-decoration: none; /* no underline */
  color:#3b3939;
}

a:visited { 
  text-decoration: none; 
  color:#3b3939;
 }

 a:hover { 
  text-decoration: none; 
  color:#3b3939;
 }
 
 a:link { 
  text-decoration: none; 
  color:#3b3939;
 }

 a:active { 
  text-decoration: none; 
  color:#3b3939;
 }

/* Page content */

html, body {
  height:100%;
  min-width:500px;
  width:75%;
  max-width:900px
}


html {
  display: table;
  margin: auto;
  background-color: #E6E4DE;
}

body {
  display: table-cell;
  vertical-align: top;
}


/* Navigation boxes*/

.sticky-header{
  position: sticky;
  background: #E6E4DE;
  min-width: 500px;
  top: 0;
  padding-bottom: 3px;
}



.header-box-top{
  display:flex;
  justify-content:space-between;
  font-size: 15px;
  flex-direction:row;
}

.header-logo{
  margin-top:15px;
}

.header-right-top{
  display:flex;
  flex-direction:row;
  text-align: center;
  
}


.header-box-bottom{
  display:flex;
  flex-direction:row;
  justify-content:left;
  margin-left:65px;
  padding:5px;
  font-size: 15px;
 
  
}

.header-box-bottom-item{
   margin-right:5%;
}


.header-welcome{
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:center;

}

.header-signout{
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:center;

}




/*Above styling of page

/* Style the button that is used to open and close the collapsible content */
.collapsible-expand {
    background-color: #E6E4DE;
    color: #3b3939;
    cursor: pointer;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding:10px;
  }

    
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-hidden {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  

  .button {
    background-color: #BBBCB7;
    color: #3b3939;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .button-collapse-all {
    color: #3b3939;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #eeeeee91;
  }


  .active, .button:hover {
    background-color: #ccc;
  }
  


/*Tower open and visual conditions*/

.towerOpen{
  text-align:center;
  width:100px;
  background-color: #88AF7F;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}
.towerClosed{
  text-align:center;
  width:100px;
  padding:2px;
  background-color:#d2d1d1;
  color: #3b3939;
  font-weight: bold;
}

.flightRules {
  width:85px;

}

.skyVFR{
  text-align:center;
  width:50px;
  background-color: #0011ff;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}


.skyMVFR{
  text-align:center;
  width:50px;
  background-color: #1100ff;
  background-image: linear-gradient(#0011ff,#1f1f1f);
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}

.skyIFR{
  text-align:center;
  width:50px;
  background-color: #1f1f1f;
  padding:2px;
  color: #ffffff;
  font-weight: bold;
}



.iconWindSock{
  width:45px;
  object-fit:cover;
  object-position: 0px 10px
}

/*Text headers*/

.headerText{
  width:20%;
  padding:2px;
  color:  #424242;
  font-weight: bold;

}

.windsNotCalm {
  font-size: 15px;
}

/*Details tables*/
#details {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 400px;

}

#details td, #details th {
  border: 1px solid #ddd;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #D4D2CB;}

#details tr:hover {background-color: #ddd;}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D4D2CB;
  color: rgba(90, 90, 90, 0.929);
}



/*airport-runways-box*/

  .airport-runway-box {
    display:flex;
    flex-direction: row;
  } 



  .airport-details-collapse-button{
    min-width: 400px;
    background-color: #E6E4DE;
    justify-content: space-between;
    text-align:right;
    top:7rem;
    margin-bottom:1.0rem;
    position: sticky;
  }

  .airport-code-name {
    min-width: 400px;
    padding:.1rem;
  }

  .airport-edit {
    width:4rem;
  }